.admin-container {
  background: url(../../video/daniel-leone-v7daTKlZzaw-unsplash.jpg) no-repeat fixed center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Adjust width to cover the entire viewport */
  height: 100%; 
}

.upload-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.upload-item {
  flex: 1;
  margin: 60px;  
  
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333333;
}

.upload-input,
.upload-textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  height: 100px;
}

.upload-input:focus,
.upload-textarea:focus {
  outline: none;
  border-color: #3498db;
}

.upload-button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #2980b9;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.image-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uploaded-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.uploaded-image:hover {
  transform: scale(1.2);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.9);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.image-item:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: rgba(95, 3, 3, 0.9);
}

.text-list {
  margin-top: 20px;
}

.text-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text-item p {
  margin: 0;
  font-size: 16px;
  color: #333333;
}
